:root { 
--black_900_7f:#0000007f; 
--gray_50_01:#fafafa; 
--deep_orange_A100:#e19878; 
--gray_50_02:#fff5f5; 
--light_green_200_bf:#d4d7b4bf; 
--red_600:#f32323; 
--pink_900:#8b3636; 
--deep_purple_400:#6c59e0; 
--blue_gray_100_bf:#d9d9d9bf; 
--light_green_200:#d4d7b4; 
--gray_300_af:#dedcdaaf; 
--gray_800_02:#451457; 
--gray_800_01:#5b2155; 
--red_400:#f06449; 
--gray_300_aa:#dedcdaaa; 
--black_900_87:#00000087; 
--deep_orange_300:#ff725e; 
--blue_gray_900_01:#263238; 
--blue_gray_700:#455a64; 
--deep_purple_400_72_01:#6d5ae072; 
--blue_gray_900:#36382e; 
--purple_A200:#c442f2; 
--deep_purple_400_72_02:#6c5ae072; 
--lime_300:#ddd269; 
--black_900_c1:#000000c1; 
--blue_gray_100:#d9d9d9; 
--orange_A200:#e29f50; 
--black_900_8c:#0000008c; 
--gray_800:#6f4439; 
--lime_900:#7b8226; 
--deep_orange_A100_91:#e1987891; 
--gray_200:#ebebeb; 
--white_A700:#ffffff; 
--light_green_200_01:#d8d58f; 
--lime_300_7c:#ddd2697c; 
--red_300:#ae7461; 
--red_400_01:#bf654e; 
--gray_50:#f8f8f8; 
--deep_purple_400_01:#6c5ae0; 
--light_green_900:#494d19; 
--deep_orange_A100_01:#ec9a7d; 
--black_900:#000000; 
--black_900_61:#00000061; 
--blue_gray_100_7f:#d9d9d97f; 
--blue_gray_100_b3:#d9d9d9b3; 
--lime_600_30:#c4cf4330; 
--deep_orange_200:#ffbf9d; 
--gray_200_bf:#f0f0f0bf; 
--black_900_bf:#000000bf; 
--deep_orange_300_03:#ff9b6a; 
--deep_orange_300_02:#ff9c67; 
--light_green_200_cc:#d8d58fcc; 
--gray_700:#7f473d; 
--lime_600:#c4cf43; 
--deep_purple_400_72:#6c59e072; 
--deep_orange_300_01:#ff9a6c; 
--red_300_01:#db8383; 
--gray_300:#dedcda; 
--gray_300_01:#e0e0e0; 
--gray_100:#f5f5f5; 
--blue_gray_900_51:#26323851; 
--lime_600_28:#c4cf4328; 
}